body{
  background-color: powderblue;
}
.calc .result{
  width: 110px;
  height: 50px;
  background-color: white;
  display: relative;
}
.calc{
  width: 110px;
  height: 150px;
  background-color: gray;
  display: relative;
  
}


